.DailyMood {
  color: #ffffff;
  width: 95%;
  margin: auto;
  margin-bottom: 2rem;
}

.DailyMood div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin: 1rem 0;
}

.imgDaily p,
.journalToast,
.dateToast {
  background-color: #38c6a3;
  box-shadow: 0 0 15px#eb8f8f;
  border-radius: 18px;
  margin: 0 auto;
}

.imgDaily p {
  border-radius: 300px;
  width: 52px;
  height: 52px;
  text-align: center;
  padding: 7px;
}

.imgDaily {
  grid-column: 1 / 2;
  grid-row: 1/2;
  text-align: center;
}

.journalToast {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 100%;
}

.dateToast {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: center;
  padding: 0.5rem;
  border-radius: 14px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
