#Calendar #gridCalendar {
  color: #95462e;
  margin: 1rem;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.3rem;
  text-align: center;
}

#Calendar #navCalendar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
  grid-column: 1 / -1;
  margin-bottom: 1rem;
}

#Calendar img {
  margin: 0.5rem 0;
}

#Calendar h3 {
  min-width: 159px;
}

.toastBackground {
  background-color: #38c6a3;
  border-radius: 50px;
  margin: 0.5rem 0;
  box-shadow: #65524c 0px 10px 15px -10px;
}

#Calendar button {
  background: none;
  border: none;
}

.greyToasts {
  filter: grayscale(80%);
}
