.Weather-background {
  background: linear-gradient(
    180deg,
    rgba(228, 242, 252, 1) 0%,
    rgba(251, 236, 230, 0.9458158263305322) 100%
  );
}

#Weather {
  color: #95462e;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: bottom/cover;
  min-height: 45vh;
}

#Weather img {
  margin: -2rem;
  filter: drop-shadow(0 0 0.75rem #918b8a);
}

#Weather h2 {
  margin: 0 1rem;
  margin-bottom: 1rem;
}

#Weather h1 {
  margin-top: 1rem;
}

#Weather p,
#Weather h2,
#Weather h1 {
  text-align: center;
  background-color: #ffffffbe;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
  box-shadow: #65524c 0px 10px 15px -10px;
}

#WeatherTip {
  width: 60%;
}
