#Settings {
  color: #95462e;
  background-color: #fbece6;
  background: linear-gradient(
    180deg,
    rgba(228, 242, 252, 1) 3%,
    rgba(251, 236, 230, 0.9458158263305322) 96%
  );
  padding: 1rem 0;
  margin-bottom: 6rem;
}

#Settings h1 {
  text-align: center;
}

#Settings h2 {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  width: 80%;
  margin: 1rem auto;
}

#Settings p {
  font-size: 1.2rem;
}
