@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100;300;400&display=swap");

:root {
  --mint: #38c6a3;
  --pink: #eb8f8f;
  --white: #ffffff;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fbece6;
}
