@font-face {
  font-family: "Montserrat";
  src: url(@assets/Montserrat-Regular.ttf);
}

:root {
  --mint: #38c6a3;
  --pink: #eb8f8f;
  --white: #ffffff;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fbece6;
}

.homeVisible {
  display: block;
}

.homeHidden {
  display: none;
}

@media only screen and (min-width: 420px) {
  body {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
  }

  #root {
    width: 420px;
  }

  .navContainer {
    width: 420px;
  }
}
